/*----------------------------------------------------
@File: Default Styles
@Author: picmaticweb
@URL: https://themeforest.net/user/picmaticweb/portfolio
Author E-mail: 

This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.


@Default Styles

Table of Content:
01/ Variables
02/ predefine
03/ header
04/ banner
04/ button
05/ clients logo
06/ features
07/ price
08/ testimonial
09/ video
10/ subscribe
11/ team
12/ accordion 
13/ integration-single 
14/ job
15/ blog
16/ contact
17/ footer


=====================================================================*/

/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "root";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "preloader";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "header";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "banner";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "button";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "clients_logo";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "features";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "service";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "testimonial";
/*---------------------------------------------------- */

// /*----------------------------------------------------*/
@import "portfolio";
// /*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "team";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "accordion";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "blog";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "contact";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */
